<ion-header>
  <ion-navbar>
    <ion-title>
      Bien Ton Film
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-grid> 
    <ion-row *ngFor = "let movie of test">
      <ion-col *ngFor = "let m of movie">
        <ion-card class="card">
          <img [src]="m.poster_path_formatted"/>
          <!-- <div class="card-title">coucou</div>
          <div class="card-subtitle">41 Listings</div> -->
        </ion-card>
      </ion-col>
    </ion-row>  
  </ion-grid>

</ion-content>
